(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Ahungarumlaut,
Amacron,
Aogonek,
Aring,
Atilde,
Averticallineabove,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Ehungarumlaut,
Emacron,
Eogonek,
Everticallineabove,
Schwa,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Ihungarumlaut,
Imacron,
Iogonek,
Istroke,
Iverticallineabove,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
Macute,
Mbreve,
Mcaron,
Mcircumflex,
Mgrave,
Mhungarumlaut,
Mmacron,
Mverticallineabove,
N,
Nacute,
Nbreve,
Ncaron,
Ncircumflex,
Ncommaaccent,
Ngrave,
Nhungarumlaut,
Nmacron,
Ntilde,
Nverticallineabove,
Eng,
O,
Oacute,
Oacutedotaboveright,
Obreve,
Obrevedotaboveright,
Ocaron,
Ocarondotaboveright,
Ocircumflex,
Ocircumflexdotaboveright,
Odieresis,
Odotaboveright,
Ograve,
Ogravedotaboveright,
Ohungarumlaut,
Ohungarumlautdotaboveright,
Omacron,
Omacrondotaboveright,
Oslash,
Oslashacute,
Otilde,
Overticallineabove,
Overticallineabovedotaboveright,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rlinebelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Uverticallineabove,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
ahungarumlaut,
amacron,
aogonek,
aring,
atilde,
averticallineabove,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
ehungarumlaut,
emacron,
eogonek,
everticallineabove,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
ihungarumlaut,
imacron,
iogonek,
istroke,
iverticallineabove,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
macute,
mbreve,
mcaron,
mcircumflex,
mgrave,
mhungarumlaut,
mmacron,
mverticallineabove,
n,
nacute,
nbreve,
ncaron,
ncircumflex,
ncommaaccent,
ngrave,
nhungarumlaut,
nmacron,
ntilde,
nverticallineabove,
eng,
o,
oacute,
oacutedotaboveright,
obreve,
obrevedotaboveright,
ocaron,
ocarondotaboveright,
ocircumflex,
ocircumflexdotaboveright,
odieresis,
odotaboveright,
ograve,
ogravedotaboveright,
ohungarumlaut,
ohungarumlautdotaboveright,
omacron,
omacrondotaboveright,
oslash,
oslashacute,
otilde,
overticallineabove,
overticallineabovedotaboveright,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rlinebelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
uverticallineabove,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
ordfeminine,
ordmasculine,
nmod,
Omega,
mu,
pi,
Nmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.zero,
zero.blackCircled.zero,
zero.circled.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zero.dnom.zero,
zero.numr.zero,
zerothird.zero,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zeroinferior.zero,
zerosuperior.zero,
space,
nbspace,
enspace,
emspace,
figurespace,
thinspace,
hairspace,
.notdef,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
mediumWhiteCircle,
mediumBlackCircle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
blackMediumDiamond,
whiteMediumDiamond,
at.case,
cent,
currency,
dollar,
euro,
sterling,
yen,
greateroverequal,
lessoverequal,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
plussuperior,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftHookArrow,
rightHookArrow,
anticlockwiseOpenCircleArrow,
clockwiseOpenCircleArrow,
leftLongArrow,
rightlongArrow,
blackCircle,
whiteCircle,
dottedCircle,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
mediumWhiteSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
verticallineabovecomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
macronbelowcomb,
slashlongcomb,
dotaboverightcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
verticallineabovecomb.case,
slashlongcomb.case,
dieresiscomb.narrow,
hungarumlautcomb.narrow,
circumflexcomb.narrow,
caroncomb.narrow,
brevecomb.narrow,
macroncomb.narrow,
dieresiscomb.case.narrow,
hungarumlautcomb.case.narrow,
circumflexcomb.case.narrow,
caroncomb.case.narrow,
brevecomb.case.narrow,
macroncomb.case.narrow,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_part.asterisk,
_part.blackCircle,
_part.circle,
_part.dotted,
_part.percent,
_part.section,
_corner.sharp,
_corner.sharp.S
)